.chatToggle{
    background-color: #00175A;
    width: fit-content;
    padding:0 1rem;
    color: white;
    border-radius: 2rem;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
    display: flex;

    &:hover{
    background-color: #0056a1;
    }    

    &__text{
        margin-left: 0.75rem
    }
}

.chatBot {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    border: 1px solid white;
    border-radius: 1rem;
    width: 25rem;
    background-color: white;
    box-shadow: 0 0 0.1rem;

    &__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid lightgrey;
    }

    &__minimize-button {
        height: 0.7rem;
        margin-right: auto;
        margin-left: 1rem;

        &:hover {
            cursor: pointer;
        }
    }

    &__close-button {
        margin-left: auto;
        margin-right: 1rem;
        height: 1rem;

        &:hover {
            cursor: pointer;
        }
    }

    &__title {
        font-size: 1.4rem;
        color: #53565A;
    }

    &__privacyStatement {
        display: flex;
        align-items: center;
        border-bottom: 1px solid lightgrey;
        box-shadow: 0 0.4rem 0.4rem 0 lightgrey;
        color: #595B5F;
        font-size: 0.8rem;
    }

    &__privacyStatement-link {
        &:visited {
            color: #2F6DC8;
        }
    }
    
    &__privacyIcon {
        padding: 1rem;
    }
    
    // &__chat-container{
    //     display: flex;
    //     flex-direction: column;
    // }

    &__chatArea {
        width: 100%;
        height: 20rem;
        display: flex;
        flex-direction: column-reverse;
        // justify-content: flex-start;
        align-items: flex-end;
        overflow: auto;
        padding-right: 1rem;
        scroll-snap-type: mandatory y;
    }
    
    &__text-bubble{
        margin: 1rem 0;
        padding: 0.5rem;
        border-radius: 0.65rem;
        border: 1px solid #53565A;
        list-style-type: none;
        color: #53565A;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        scroll-snap-align: start;
        font-size: 0.9rem;

        &:nth-child(odd){
            // background-color: #8e9fae;
            align-self: flex-start;
            &::before{
                content: url('../../assets/amex_chat_icon.svg');
                display: inline-block;
                width: 25px;
                height: 25px;
                margin-right: 1rem;
            }
        }
        
        &:nth-child(even){
            text-align: right;
            &::after{
                content: url('../../assets/leahs_icon.svg');
                display: inline-block;
                width: 25px;
                height: 25px;
                margin-left: 1rem;
            }
            // background-color: #0069c4;
        }
    }

    &__input-area {
        display: flex;
        margin: 1rem 1rem ;
        padding: 0.5rem;
        border: 1px solid #A29B9B;
        border-radius: 0.5rem;
    }

    &__input {
        border: none;
        width: 100%;
        color: #53565A;

        &:focus {
            outline: none;
        }
    }

    &__typing{
        margin: 2rem 0;
        // margin: 1rem 1rem 0;
        padding: 0 1rem
    }
    &__dot{
        height: 5px;
        width: 5px;
        margin-right: 0.25rem;
    }

    &__submit-container {
        outline: none;
        background: none;
        border: none;
        padding: 0;
    }

    &__submit {
        padding-top: 0.25rem;

        &:hover {
            cursor: pointer;
        }
    }
}